.workflow-designer-wrapper {
  min-height: 100vh;
  background: #f1f5f9;
  display: flex;
  flex-direction: column;
  position: relative;
}

.workflow-designer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

