// src/styles/_base.scss

// Reset and Base Styles

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif; // Will be overridden by theme variables
    line-height: 1.5;
}

*,
::before,
::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 1rem 0;
}

.rapid-container {
    padding: 10px;

    .card {
        border: 1px solid #dee2e6;
        /* Light border for the card */
        border-radius: 8px;
        /* Rounded corners for a modern look */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Subtle shadow for depth */
        margin-bottom: 1.5rem;
        /* Space between cards */
        background-color: #fff;
        /* White background for clean look */
        overflow: hidden;
        /* Ensure rounded corners work properly */

        .card-title {
            padding: 0.5rem 1rem;
            /* Consistent padding */
            border-bottom: 1px solid #e9ecef;
            /* Light separator */
            background-color: #f8f9fa;
            /* Light background for title area*/
        }

        .card-separator {
            margin: 0;
            /* Remove default margin */
            border: none;
            /* Remove default border */
            border-top: 1px solid #e9ecef;
            /* Add a light top border */
        }

        .card-body {
            padding: 0.5rem 1rem;
            /* Consistent padding */
        }
    }
}

.card-title h5 {
    margin-bottom: 0;
    /* Remove default margin */
    font-size: 1.3rem;
    /* Slightly larger font */
    font-weight: 600;
    /* Semi-bold font */
    color: #343a40;
    /* Darker text */
}

.rapid-action-icon-xl {
    cursor: pointer;
    font-size: 1.8rem;
    /* Adjust size as needed */
}


button.btn.custom-dark-btn {
    background-color: #343a40;
    color: white;
    border: none;
    margin-right: 1rem;
}

button.btn.custom-dark-btn:hover {
    background-color: #495057;
}

button.btn-secondary {
    background-color: #6c757d;
    color: white;
}

/* Custom Modal Styling */
.modal-content {
    border-radius: 10px;
    border: none;
}

.modal-header {
    background-color: #343a40;
    color: white;
}

.modal-body {
    background-color: #f8f9fa;
}

.modal-footer {
    background-color: #f8f9fa;
}