// Mixins

@mixin transition($property: all, $duration: 0.3s, $timing-function: ease-in-out) {
    transition: $property $duration $timing-function;
}

@mixin border-radius($radius: 5px) {
    border-radius: $radius;
}

@mixin box-shadow($x: 0, $y: 2px, $blur: 5px, $spread: 0, $color: rgba(0, 0, 0, 0.2)) {
    box-shadow: $x $y $blur $spread $color;
}

@mixin responsive-font-size($min-size, $max-size, $min-vw, $max-vw) {
    $u1: unit($min-size);
    $u2: unit($max-size);
    $u3: unit($min-vw);
    $u4: unit($max-vw);

    @if $u1 ==$u2 and $u3 ==$u4 and $u1 =='px' and $u3 =='px' {
        font-size: calc(#{$min-size} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-vw}) / (#{$max-vw} - #{$min-vw})));
    }
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin grid($columns, $gap: 0) {
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
}