// src/styles/_theme.scss

@use 'variables';
@use 'mixins';

body {
    font-family: variables.$font-family-base; // use the namespace
    background-color: variables.$light;
    color: variables.$dark;
}

a {
    color: variables.$primary;
}

.btn-primary {
    background-color: variables.$primary;
    border-color: variables.$primary;
}

.shadowed-element {
    @include mixins.box-shadow(0, 4px, 8px, 0, rgba(0, 0, 0, 0.2)); // use the namespace
}

