/* You can add global styles to this file, and also import other style files */
@use 'styles/variables';
@use 'styles/mixins';
@use 'styles/base';
@use 'styles/theme';
@use 'styles/fonts';
@use 'styles/components/main';
@use 'styles/components/navbar';
