<div class="node-container">
  <div
    class="node-box rounded d-flex align-items-center justify-content-center"
    [class.selected]="selected"
    [class.node-trigger]="node.type === 'TRIGGER'"
    [class.node-http-request]="node.type === 'HTTP_REQUEST'"
    [class.node-condition]="node.type === 'CONDITION'"
    [class.node-do-nothing]="node.type === 'DO_NOTHING'"
    [class.node-code]="node.type === 'CODE'"
  >
    <fa-icon [icon]="getNodeIcon()" class="text-white" style="font-size: 1.125rem;"></fa-icon>
  </div>
  <div class="node-label">
    {{ node.data.label }}
  </div>
</div>

