.json-viewer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  color: #333;
}

.key {
  cursor: pointer;
  font-weight: 600;
  margin-right: 8px;
  color: #1e88e5;
  transition: color 0.3s ease;
}

.key:hover {
  color: #1565c0;
}

.expand-collapse {
  margin-left: 5px;
  font-weight: normal;
  cursor: pointer;
  color: #777;
  transition: color 0.3s ease;
}

.expand-collapse:hover {
  color: #555;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

li {
  margin-bottom: 5px;
  line-height: 1.4;
}

ul ul {
  border-left: 1px solid #ddd;
  padding-left: 15px;
  margin-left: 5px;
}

.key,
.expand-collapse {
  display: inline-block;
  vertical-align: middle;
}

.highlighted {
  background-color: yellow; /* Or any highlight color */
}
.clickable{
  cursor: pointer;
}

.key {
  padding: 2px 5px;
  border-radius: 3px;
}

.key.highlighted {
  background-color: lightgreen; /* Green for first click */
}

.key.mapped {
  background-color: lightgrey; /* Grey for mapped items */
}

.key.clickable{
    cursor: pointer;
}

li {
  padding: 2px 5px;
  border-radius: 3px;
}

li.highlighted {
  background-color: lightgreen; /* Green for first click */
}

li.mapped {
  background-color: lightgrey; /* Grey for mapped items */
}

.key.clickable{
    cursor: pointer;
}