.page-icon {
    cursor: pointer;
}


.selected-page {
    background-color: rgb(160 232 126 / 37%)  !important; // Light grey
    border: 2px solid #dee2e6; // Subtle border effect
    transition: ease-out 0.3s ease;
}