.workflow-designer-wrapper {
  min-height: 100vh;
  background: #f8fafc;
  display: flex;
  flex-direction: column;
}

.workflow-designer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

