<div class="container-fluid rapid-container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">
                    <h5>List Clients</h5>
                </div>
                <hr class="card-separator" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="rapid-toolbar">
                                <button type="button" class="btn btn-primary custom-dark-btn" (click)="openCreateModal(editClientModal)">
                                    Create Client
                                </button>
                                <div class="rapid-search">
                                    <input type="text" class="form-control rapid-input" placeholder="Search Clients..."
                                        [(ngModel)]="searchText" (input)="search()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-container">
                            <table class="table rapid-table">
                                <thead>
                                    <tr>
                                        <th>Client Name</th>
                                        <th>Description</th>
                                        <th>Created By</th>
                                        <th>Created On</th>
                                        <th>Updated By</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let client of clients">
                                        <td>{{ client.name }}</td>
                                        <td class="fixed-description" [title]="client.description">
                                            {{ client.description }}
                                        </td>
                                        <td>{{ client.createdByName || 'N/A' }}</td>
                                        <td>{{ client.createdOn | date: 'MMM d, y' }}</td>
                                        <td>{{ client.updatedByName || 'N/A' }}</td>
                                        <td>{{ client.updatedOn | date: 'MMM d, y' }}</td>
                                        <td>
                                            <i class='bx bx-edit text-primary rapid-action-icon rapid-action-icon-xl' (click)="openEditModal($event, client, editClientModal)"></i>
                                            <i class='bx bx-trash text-danger rapid-action-icon rapid-action-icon-xl' (click)="openDeleteConfirmationModal($event, client, deleteConfirmModal)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rapid-pagination" *ngIf="clients.length > 0">
                            <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="clients.length"
                                (pageChange)="refreshClients()"></ngb-pagination> -->
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
 
<ng-template #editClientModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" *ngIf="editMode">Edit Client</h5>
        <h5 class="modal-title" *ngIf="!editMode">Create Client</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm">
            <div class="mb-3">
                <label for="clientName" class="form-label">Client Name</label>
                <input type="text" formControlName="name" class="form-control" id="clientName">
                <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)"
                                     class="text-danger">
                                    <small *ngIf="editForm.get('name')?.errors?.['required']">Client Name is required.</small>
                                    <small *ngIf="editForm.get('name')?.errors?.['pattern']">Client Name must be uppercase letters only.</small>
                                </div>
            </div>
            <div class="mb-3">
                <label for="clientDescription" class="form-label">Description</label>
                <textarea formControlName="description" class="form-control" id="clientDescription"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn custom-dark-btn" *ngIf="!editMode" (click)="saveClient(modal)" [disabled]="editForm.pristine">Save Client</button>
        <button type="button" class="btn custom-dark-btn" *ngIf="editMode" (click)="updateClient(modal)" [disabled]="editForm.pristine">Update Client</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>

<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this client?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn custom-dark-btn" (click)="modal.close('confirm')">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template> 
