<div class="container-fluid rapid-container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">
                    <h5>List S1 Schemas</h5>
                </div>
                <hr class="card-separator" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="rapid-toolbar">
                                <button type="button" class="btn btn-primary custom-dark-btn" (click)="openCreateModal(createSchemaModal)">
                                    Create S1 Schema
                                </button>
                                <div class="rapid-search">
                                    <input type="text" class="form-control rapid-input" placeholder="Search Schemas..."
                                        [(ngModel)]="searchText" (input)="search()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-container">
                            <table class="table rapid-table">
                                <thead>
                                    <tr>
                                        <th>Schema Name</th>
                                        <th>Description</th>
                                        <th>Schema File Name</th>
                                        <th>Created By</th>
                                        <th>Created On</th>
                                        <th>Updated By</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s1Schema of s1Schemas">
                                        <td>{{ s1Schema.name }}</td>
                                        <td class="fixed-description" [title]="s1Schema.description">
                                            {{ s1Schema.description }}
                                        </td>
                                        <td>{{ s1Schema.schemaFileName }}</td>
                                        <td>{{ s1Schema.createdByName || 'N/A' }}</td>
                                        <td>{{ s1Schema.createdOn | date: 'MMM d, y' }}</td>
                                        <td>{{ s1Schema.updatedByName || 'N/A' }}</td>
                                        <td>{{ s1Schema.updatedOn | date: 'MMM d, y' }}</td>
                                        <td>
                                            <i class='bx bx-edit text-primary rapid-action-icon rapid-action-icon-xl'
                                                (click)="openEditModal($event, s1Schema, createSchemaModal)"></i>
                                            <i class='bx bx-trash text-danger rapid-action-icon rapid-action-icon-xl'
                                                (click)="openDeleteConfirmationModal($event, s1Schema, deleteConfirmModal)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rapid-pagination">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="s1Schemas.length"
                            (pageChange)="pageChanged($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #createSchemaModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add S1 Schema</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="s1SchemaForm" (ngSubmit)="onSubmit(modal)">
            <div class="mb-3">
                <label for="schemaName" class="form-label">Schema Name</label>
                <input type="text" formControlName="name" class="form-control" id="schemaName">
                <div *ngIf="s1SchemaForm.get('name')?.invalid && (s1SchemaForm.get('name')?.dirty || s1SchemaForm.get('name')?.touched)"
                     class="text-danger">
                    <small *ngIf="s1SchemaForm.get('name')?.errors?.['required']">Schema Name is required.</small>
                    <small *ngIf="s1SchemaForm.get('name')?.errors?.['pattern']">Schema Name must contain uppercase letters, digits & _ only.</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="schemaDescription" class="form-label">Description</label>
                <textarea formControlName="description" class="form-control" id="schemaDescription"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Request Schema</label>
                <ng-select [items]="requestSchemas" bindLabel="name" bindValue="id"
                    formControlName="requestSchemaId" placeholder="Select Request Schema">
                </ng-select>
                <div *ngIf="f['requestSchemaId'].touched && f['requestSchemaId'].invalid" class="text-danger small mt-1">
                    Client is required.
                </div>
            </div>
            <div class="mb-3">
                <label for="schema">Schema (JSON File):</label>
                <input type="file" id="schema" (change)="onFileChange($event)">
                <!-- <div *ngIf="!file">
                    <p>Please select a JSON file.</p>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn custom-dark-btn" [disabled]="s1SchemaForm.pristine">Save</button>
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
            </div>
        </form>
    </div>

</ng-template>

<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this schema?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('confirm')">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>