<div *ngFor="let toast of toastService.toasts" class="toast-container position-fixed p-3"
    [ngClass]="getPositionClass(toast.position)" style="z-index: 1055;">

    <ngb-toast [class]="toast.classname + ' fade show shadow-sm'" [autohide]="true" [delay]="toast.delay ?? 5000"
        (hidden)="toastService.remove(toast)">

        <div class="d-flex align-items-center">
            <i *ngIf="toast.icon" class="{{ toast.icon }} me-2 fs-5"></i>
            <strong class="me-auto">{{ toast.header }}</strong>
            <button *ngIf="toast.showCloseButton" type="button" class="btn-close btn-close-white ms-2 mb-1"
                aria-label="Close" (click)="toastService.remove(toast)">
            </button>
        </div>

        <div class="mt-1">
            {{ toast.body }}
        </div>

    </ngb-toast>
</div>