// navbar.component.scss
.navbar {
    background-color: #0b0f19;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, 0.1);

    .navbar-expand .navbar-collapse {
        min-width: 200px;
    }
}

.nav-link{
    color: white !important;
}

.avatar-sm {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.dropdown-menu {
    min-width: 200px;

    .dropdown-item {
        font-size: 0.95rem;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #f8f9fa;
        }
    }
}

.user-initials-circle {
    width: 36px;
    height: 36px;
    background-color: #343a40;
    color: #fff;
    border-radius: 50%;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }


@media (min-width: 768px) {
    .input-group-navbar {
        .form-control {
            &:focus {
                outline: none;
                box-shadow: 0 0 0 0 rgba(255, 255, 255);
                border: none;
                background-color: #f5f5f5;
            }

            color: #3e4455;
            background-color: #f5f5f5;
            height: calc(2.44375rem + 2px);
        }

        max-width: 320px;

        .btn {
            color: #000;
            background-color: #f5f5f5;
            cursor: pointer;
            z-index: 1000;

            &:active {
                background-color: #f5f5f5;
            }
        }
    }

    .navbar-expand .navbar-nav .dropdown-menu {
        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
    }
}