<div class="container-fluid rapid-container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">
                    <h5>List Users</h5>
                </div>
                <hr class="card-separator" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="rapid-toolbar">
                                <button type="button" class="btn btn-primary custom-dark-btn"
                                    (click)="openCreateModal(editClientModal)">
                                    Create User
                                </button>
                                <div class="rapid-search">
                                    <input type="text" class="form-control rapid-input" placeholder="Search Users..."
                                        [(ngModel)]="searchText" (input)="search()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-container">
                            <div *ngIf="loading" class="loading-spinner">
                                <i class="bx bx-loader bx-spin"></i> Loading...
                            </div>
                            <table *ngIf="!loading" class="table rapid-table">
                                <thead>
                                    <tr>
                                        <th><i class="bx bx-id-card"></i> Username</th>
                                        <th><i class="bx bx-user"></i> First Name</th>
                                        <th><i class="bx bx-user"></i> Last Name</th>
                                        <th><i class="bx bx-globe"></i> Country</th>
                                        <th><i class="bx bx-shield-alt-2"></i> Role</th>
                                        <th><i class="bx bx-building-house"></i> Client Name</th>
                                        <th><i class="bx bx-calendar-event"></i> Created On</th>
                                        <th><i class="bx bx-user-plus"></i> Created By</th>
                                        <th><i class="bx bx-calendar-check"></i> Updated On</th>
                                        <th><i class="bx bx-user-check"></i> Updated By</th>
                                        <th><i class="bx bx-cog"></i>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.firstName }}</td>
                                        <td>{{ user.lastName }}</td>
                                        <td>{{ user.country }}</td>
                                        <td>{{ getRole(user.roles) }}</td>
                                        <td>{{ user.client?.name }}</td>
                                        <td>{{ user.createdOn | date }}</td>
                                        <td>{{ user.createdByName }}</td>
                                        <td>{{ user.updatedOn | date }}</td>
                                        <td>{{ user.updatedByName }}</td>
                                        <td>
                                            <i
                                                class='bx bx-edit text-primary rapid-action-icon rapid-action-icon-xl'></i>
                                            <i
                                                class='bx bx-trash text-danger rapid-action-icon rapid-action-icon-xl'></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="!loading" class="rapid-pagination">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItems"
                                (pageChange)="pageChanged($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #editClientModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" *ngIf="editMode">Edit User</h5>
        <h5 class="modal-title" *ngIf="!editMode">Create User</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <!-- <div class="mb-3">
                <label for="clientName" class="form-label">Client Name</label>
                <input type="text" formControlName="clientName" class="form-control" id="clientName">
                <div *ngIf="userForm.get('clientName')?.invalid && (userForm.get('clientName')?.dirty || userForm.get('clientName')?.touched)"
                                     class="text-danger">
                                    <small *ngIf="userForm.get('clientName')?.errors?.['required']">Client Name is required.</small>
                                    <small *ngIf="userForm.get('clientName')?.errors?.['pattern']">Client Name must be uppercase letters only.</small>
                                </div>
            </div>
            <div class="mb-3">
                <label for="clientDescription" class="form-label">Description</label>
                <textarea formControlName="clientDescription" class="form-control" id="clientDescription"></textarea>
            </div> -->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!editMode" (click)="saveUser(modal)"
            [disabled]="userForm.pristine">Save User</button>
        <button type="button" class="btn btn-primary" *ngIf="editMode" (click)="updateUser(modal)"
            [disabled]="userForm.pristine">Update User</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>

<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this client?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn custom-dark-btn" (click)="modal.close('confirm')">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>