<div class="d-flex justify-content-between p-4">
  <div class="sidebar-logo">
    <a href="#">Rapid</a>
  </div>
  <button class="toggle-btn border-0" type="button" (click)="onToggleSidebar()">
    <i *ngIf="isCollapsed" id="icon" class="bx bxs-chevrons-right"></i>
    <i *ngIf="!isCollapsed" id="icon" class="bx bxs-chevrons-left"></i>
  </button>
</div>
<ul class="sidebar-nav">
  <li *ngFor="let menuItem of menuItems" class="sidebar-item">
    <a [routerLink]="menuItem.class === '' ? [menuItem.path] : null" class="sidebar-link"
      [class.collapsed]="isSubmenu(menuItem)" [class.has-dropdown]="isSubmenu(menuItem)"
      [attr.data-bs-toggle]="isSubmenu(menuItem) ? 'collapse' : null"
      [attr.data-bs-target]="isSubmenu(menuItem) ? '#' + generateDropdownId(menuItem.title) : null"
      [attr.aria-expanded]="isSubmenu(menuItem) ? 'false' : null"
      [attr.aria-controls]="isSubmenu(menuItem) ? generateDropdownId(menuItem.title) : null">
      <i *ngIf="menuItem.icon" [class]="getIconClass(menuItem.icon)"></i>
      <span>{{ menuItem.title }}</span>
    </a>

    <ul *ngIf="isSubmenu(menuItem)" [id]="generateDropdownId(menuItem.title)"
      class="sidebar-dropdown list-unstyled collapse" [attr.data-bs-parent]="generateParentId(menuItem.title, 1)">
      <li *ngFor="let subMenuItem of menuItem.submenu" class="sidebar-item">
        <a [routerLink]="subMenuItem.submenu.length > 0 ? null : [subMenuItem.path]" class="sidebar-link"
          [class.collapsed]="isSubmenu(subMenuItem)" [class.has-dropdown]="isSubmenu(subMenuItem)"
          [attr.data-bs-toggle]="isSubmenu(subMenuItem) ? 'collapse' : null"
          [attr.data-bs-target]="isSubmenu(subMenuItem) ? '#' + generateDropdownId(subMenuItem.title) : null"
          [attr.aria-expanded]="isSubmenu(subMenuItem) ? 'false' : null"
          [attr.aria-controls]="isSubmenu(subMenuItem) ? generateDropdownId(subMenuItem.title) : null">
          <i *ngIf="subMenuItem.icon" [class]="getIconClass(subMenuItem.icon)"></i>
          {{ subMenuItem.title }}
        </a>

        <ul *ngIf="isSubmenu(subMenuItem)" [id]="generateDropdownId(subMenuItem.title)"
          class="sidebar-dropdown list-unstyled collapse"
          [attr.data-bs-parent]="generateParentId(subMenuItem.title, 2, menuItem.title)">
          <li *ngFor="let subSubMenuItem of subMenuItem.submenu" class="sidebar-item">
            <a [routerLink]="[subSubMenuItem.path]" class="sidebar-link">
              <i *ngIf="subSubMenuItem.icon" [class]="getIconClass(subSubMenuItem.icon)"></i>
              {{ subSubMenuItem.title }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>